@import '../utils/colors';

#projects {
  padding: 100px 0;
}

#projects h2 {
  margin-bottom: 10px;
  text-transform: capitalize;
}

#projects .grid {
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#projects .grid-item {
  display: block;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  text-decoration: none;
  transition: all 200ms ease !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.03);
}

#projects .grid-item:active {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.03) !important;
}

#projects .grid-item-body {
  padding: 1.3rem;
}

#projects .grid-item .media {
  width: 100%;
  display: block;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid rgb(240, 240, 240);
}

#projects .grid-item h4 {
  color: $textSecondary;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 7px;
  letter-spacing: 1.32px;
}

#projects .grid-item p {
  color: $textSecondary;
  font-size: 14px;
  margin-bottom: 7px;
}

#projects .grid-item small {
  color: $textSecondary;
  opacity: 0.7;
  font-size: 12px;
}
