<style>
  #about #avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

  #about .row .column:first-of-type {
    gap: 1.3rem;
    width: 50%;
    align-items: center;
    justify-content: center;
  }

  #about h2 {
    text-align: left;
    margin-bottom: 1rem;
  }

  #about h3 {
    color: rgb(189, 158, 23);
  }

  #about p {
    color: #fff;
  }
</style>

<section class="section-2" id="about">
  <div class="container">
    <div class="row">
      <div class="column">
        <img id="avatar" src="https://i.pravatar.cc/300" alt="" />
        <h3>Isak Granqvist</h3>
        <div class="social">
          <a
            title="LinkedIn"
            href="https://www.linkedin.com/in/granqvist1/"
            target="_blank"
          >
            <img src="/public/linkedin.svg" alt="LinkedIn Logo" />
          </a>
          <a
            title="Github"
            href="https://github.com/isakgranqvist2021"
            target="_blank"
          >
            <img src="/public/github.svg" alt="Github Logo" />
          </a>
        </div>
      </div>

      <div class="column">
        <h2>About</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga
          obcaecati, in repellendus cupiditate ut officiis veritatis at cumque
          eos quidem odio incidunt sit delectus nemo quibusdam doloremque
          inventore accusantium possimus!
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga
          obcaecati, in repellendus cupiditate ut officiis veritatis at cumque
          eos quidem odio incidunt sit delectus nemo quibusdam doloremque
          inventore accusantium possimus!
        </p>
      </div>
    </div>
  </div>
</section>
