<style>
  #contact #contact-form {
    gap: 1rem;
    width: 100%;
  }

  #contact #personal-info {
    flex-grow: 1;
  }

  #contact h3:first-of-type {
    color: rgb(189, 158, 23);
    margin-bottom: 0.5rem;
  }

  #contact p {
    color: #fff;
    margin-bottom: 10px;
  }

  #contact #personal-info h4 {
    color: rgb(189, 158, 23);
  }

  #contact #contact-details {
    gap: 2rem;
  }

  #contact .row:first-of-type {
    margin-bottom: 2rem;
    gap: 2rem;
  }

  #contact #location li {
    color: rgb(255, 255, 255);
  }

  #contact .column h3 {
    color: #fff;
    margin-bottom: 0.5rem;
  }

  #contact ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
</style>

<footer class="section-1" id="contact">
  <div class="container">
    <h3>Contact</h3>
    <div class="row">
      <div class="column">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga
          obcaecati, in repellendus cupiditate ut officiis veritatis at cumque
          eos quidem odio incidunt sit delectus nemo quibusdam doloremque
          inventore accusantium possimus!
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga
          obcaecati, in repellendus cupiditate ut officiis veritatis at cumque
          eos quidem odio incidunt sit delectus nemo quibusdam doloremque
          inventore accusantium possimus!
        </p>
      </div>

      <div id="contact-form" class="column">
        <input />
        <input />
        <textarea></textarea>
      </div>
    </div>
    <div class="row">
      <div id="personal-info" class="column">
        <h3>Isak Granqvist</h3>
        <h4>Software Developer</h4>
      </div>
      <div id="contact-details" class="row">
        <div class="column">
          <h3>Pages</h3>
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
        <div class="column">
          <h3>Contact</h3>
          <ul id="location">
            <li>support@granqvist.dev</li>
            <li>Göteborg, Sweden</li>
          </ul>
        </div>
        <div class="column">
          <div class="social">
            <a
              title="LinkedIn"
              href="https://www.linkedin.com/in/granqvist1/"
              target="_blank"
            >
              <img src="/public/linkedin.svg" alt="LinkedIn Logo" />
            </a>
            <a
              title="Github"
              href="https://github.com/isakgranqvist2021"
              target="_blank"
            >
              <img src="/public/github.svg" alt="Github Logo" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
