<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta
  name="description"
  content="Full stack software developer. Visit my website to learn more about my skills and portfolio. If you need to get in touch with me, you can send an email to contact@granqvist.dev."
/>
<meta
  name="keywords"
  content="Full stack development, Web application development, Mobile app development, Cloud computing, Data analysis, User experience design, Project management, Agile development methodologies"
/>
<meta
  property="og:title"
  content="Software Development Done Right: Your Go-To Developer"
/>
<meta
  property="og:description"
  content="Full stack software developer. Visit my website to learn more about my skills and portfolio."
/>

<meta
  property="og:image"
  content="https://storage.googleapis.com/granqvist_dev_bucket/images/png/og.png"
/>
<meta property="og:url" content="https://granqvist.dev" />

<meta
  name="twitter:title"
  content="Software Development Done Right: Your Go-To Developer"
/>
<meta
  name="twitter:description"
  content="Full stack software developer. Visit my website to learn more about my skills and portfolio."
/>
<meta
  name="twitter:image"
  content="https://storage.googleapis.com/granqvist_dev_bucket/images/png/og.png"
/>
<meta name="twitter:card" content="summary_large_image" />

<link
  rel="shortcut icon"
  type="image/x-icon"
  href="https://storage.googleapis.com/granqvist_dev_bucket/images/icon.ico"
/>
<link
  rel="apple-touch-icon"
  href="https://storage.googleapis.com/granqvist_dev_bucket/images/icon.ico"
/>

<link
  rel="stylesheet"
  href="https://storage.googleapis.com/granqvist_dev_bucket/libs/css/aos.min.css"
/>
<link
  rel="stylesheet"
  href="https://storage.googleapis.com/granqvist_dev_bucket/css/main.min.css"
/>

<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-SFK4JQRKBG"
></script>
<script
  src="https://storage.googleapis.com/granqvist_dev_bucket/libs/js/aos.min.js"
  defer
></script>
<script
  src="https://storage.googleapis.com/granqvist_dev_bucket/js/main.js"
  defer
></script>

<title>Isak Granqvist - Full Stack Software Development</title>
