<style>
  #home .header {
    width: 50%;
    margin: 0 auto;
    margin-top: 52px;
  }

  #home .header {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  #home h1 {
    color: rgb(189, 158, 23);
    font-size: 3rem;
  }

  #home h3,
  #home p {
    color: #fff;
  }
</style>

<header class="section-1" id="home">
  <div class="header">
    <h1>Isak Granqvist</h1>
    <h3>Software developer</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, alias
      consequuntur? Fuga voluptatibus harum fugiat delectus dolores ab
      laboriosam possimus voluptas, beatae eos ratione quae ipsam quo expedita
      hic libero?
    </p>
  </div>
</header>
