<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta
  name="description"
  content="Full stack software developer. Visit my website to learn more about my skills and portfolio. If you need to get in touch with me, you can send an email to contact@granqvist.dev."
/>
<meta
  name="keywords"
  content="Full stack development, Web application development, Mobile app development, Cloud computing, Data analysis, User experience design, Project management, Agile development methodologies"
/>
<meta
  property="og:title"
  content="Software Development Done Right: Your Go-To Developer"
/>
<meta
  property="og:description"
  content="Full stack software developer. Visit my website to learn more about my skills and portfolio."
/>

<meta property="og:image" content="/public/images/png/og.png" />
<meta property="og:url" content="https://granqvist.dev" />

<meta
  name="twitter:title"
  content="Software Development Done Right: Your Go-To Developer"
/>
<meta
  name="twitter:description"
  content="Full stack software developer. Visit my website to learn more about my skills and portfolio."
/>
<meta name="twitter:image" content="/public/images/png/og.png" />
<meta name="twitter:card" content="summary_large_image" />

<link rel="shortcut icon" type="image/x-icon" href="/public/images/icon.ico" />
<link rel="apple-touch-icon" href="/public/images/icon.ico" />

<link rel="stylesheet" href="/public/css/main.min.css" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
<script src="/public/js/main.js" defer></script>
<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-Y3KR93HTBB"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'G-Y3KR93HTBB');
</script>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<title>Isak Granqvist - Full Stack Software Developer</title>
