<style>
  #nav {
    background-color: rgb(43, 43, 43);
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    z-index: 5;
  }

  #nav .container {
    padding: 1rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #nav .container ul {
    display: flex;
    gap: 10px;
  }

  @media (max-width: 540px) {
    #nav .container {
      padding: 1rem;
    }
  }

  @media (max-width: 460px) {
    #nav .social {
      display: none;
    }
  }
</style>

<nav id="nav">
  <div class="container">
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <div class="social">
      <a
        title="LinkedIn"
        href="https://www.linkedin.com/in/granqvist1/"
        target="_blank"
      >
        <img src="/public/linkedin.svg" alt="LinkedIn Logo" />
      </a>
      <a
        title="Github"
        href="https://github.com/isakgranqvist2021"
        target="_blank"
      >
        <img src="/public/github.svg" alt="Github Logo" />
      </a>
    </div>
  </div>
</nav>
