<nav>
  <div class="container">
    <a href="#home" aria-label="Top of the page link">
      <img
        class="logo"
        aria-label="granqvist.dev company logo"
        src="/public/images/svg/logo.svg"
        alt="Isak Granqvist Logo"
      />
    </a>
    <div class="nav-links">
      <a href="#home" onClick="closeNav()">home</a>
      <a href="#solutions" onClick="closeNav()">solutions</a>
      <a href="#technology" onClick="closeNav()">technology</a>
      <a href="#about" onClick="closeNav()">about</a>
      <a href="#contact" onClick="closeNav()">contact</a>
    </div>

    <div class="bars" onClick="toggleNav()">
      <div class="bars-line"></div>
      <div class="bars-line"></div>
      <div class="bars-line"></div>
    </div>
  </div>

  <div class="backdrop" onClick="closeNav()"></div>
</nav>
