<style>
  #projects .row {
    gap: 2rem;
  }
</style>

<section class="section-1" id="projects">
  <div class="container">
    <h2>Projects</h2>
    <div class="row">
      <div class="card">
        <h3>Plagiarism Checker</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat
          reiciendis nostrum asperiores aliquid dignissimos. Beatae nemo enim
          corrupti quam reiciendis sed.
        </p>
      </div>
      <div class="card">
        <h3>Face Mask Detection</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat
          reiciendis nostrum asperiores aliquid dignissimos. Beatae nemo enim
          corrupti quam reiciendis sed.
        </p>
      </div>
      <div class="card">
        <h3>Library Managment System</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat
          reiciendis nostrum asperiores aliquid dignissimos. Beatae nemo enim
          corrupti quam reiciendis sed.
        </p>
      </div>
      <div class="card">
        <h3>Color Detection</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat
          reiciendis nostrum asperiores aliquid dignissimos. Beatae nemo enim
          corrupti quam reiciendis sed.
        </p>
      </div>
    </div>
  </div>
</section>
