<section class="section-1" id="projects">
  <div class="container">
    <h2>Projects</h2>
    <div class="card-grid">
      <div class="card">
        <h3>Admin User Interface</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat
          reiciendis nostrum asperiores aliquid dignissimos. Beatae nemo enim
          corrupti quam reiciendis sed.
        </p>
      </div>
      <div class="card">
        <h3>Covid 19 Testing App</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat
          reiciendis nostrum asperiores aliquid dignissimos. Beatae nemo enim
          corrupti quam reiciendis sed.
        </p>
      </div>
      <div class="card">
        <h3>Multiplayer Chess Canvas Game</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat
          reiciendis nostrum asperiores aliquid dignissimos. Beatae nemo enim
          corrupti quam reiciendis sed.
        </p>
      </div>
      <div class="card">
        <h3>Health & Wellness System</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat
          reiciendis nostrum asperiores aliquid dignissimos. Beatae nemo enim
          corrupti quam reiciendis sed.
        </p>
      </div>
    </div>
  </div>
</section>
