<section class="section-2" id="skills">
  <div class="container">
    <h2>My skills</h2>

    <div class="card-grid">
      <div class="card">
        <h3>Frontend Development</h3>
        <p>
          I have experience working with the cutting edge of frontend
          development. Some of the technologies I use are React, Angular,
          GraphQL and TypeScript.
        </p>
      </div>
      <div class="card">
        <h3>Backend Development</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
          similique culpa ab cum quae nemo vero, blanditiis quis itaque velit
          ipsam minus autem quisquam natus.
        </p>
      </div>
      <div class="card">
        <h3>DevOps</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
          similique culpa ab cum quae nemo vero, blanditiis quis itaque velit
          ipsam minus autem quisquam natus.
        </p>
      </div>
      <div class="card">
        <h3>Automation</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
          similique culpa ab cum quae nemo vero, blanditiis quis itaque velit
          ipsam minus autem quisquam natus.
        </p>
      </div>
    </div>
  </div>
</section>
