<section id="about" tabindex="3">
  <div class="container">
    <div class="flex-item">
      <h2 data-aos="fade-down">granqvist.dev</h2>
      <p class="body1" data-aos="fade-up">
        The primary purpose of my business is to deliver reliable, scalable, and
        high-quality software - at affordable prices.
      </p>
      <p class="body1" data-aos="fade-up">
        I mostly deliver custom software and applications tailored to specific
        business requirements. Primarily web applications.
      </p>
      <p class="body1" data-aos="fade-up">
        Software infrastructure is an essential part of many businesses and
        reliability should be the highest priority for anyone seeking longevity.
      </p>
    </div>
    <div class="flex-item" data-aos="fade-left">
      <img src="/public/images/svg/about.svg" alt="" />
    </div>
  </div>
</section>
