<section class="bg-dark" id="about" tabindex="3">
  <div class="container">
    <div class="flex-item">
      <h2 data-aos="fade-down">Who am I?</h2>
      <p class="body1" data-aos="fade-up">
        As a software developer with a passion for technology, I am always eager
        to take on new challenges and come up with creative solutions.
      </p>
      <p class="body1" data-aos="fade-up">
        I specialize in delivering custom software and applications tailored to
        the specific needs of businesses, with a focus on web and server
        applications. Let's work together to bring your project to life.
      </p>
    </div>
    <div class="flex-item" data-aos="fade-left">
      <img src="/public/images/svg/about.svg" alt="Exclamation mark" />
    </div>
  </div>
</section>
