<section id="projects" class="bg-light" tabindex="4">
  <div class="container">
    <h2>My Projects</h2>

    <div class="grid">
      <% repositories.forEach(repository => { %>
      <a
        class="grid-item"
        title="View repository"
        href="<%= repository.html_url %>"
      >
        <img
          alt="<%= repository.name %>"
          src="/public/images/png/octocat.png"
        />

        <h4><%= repository.name %></h4>
        <p><%= repository.description %></p>
      </a>
      <% }) %>
    </div>
  </div>
</section>
