<section class="bg-dark" id="solutions" tabindex="1" role="row">
  <div class="container">
    <div class="grid">
      <div class="card" data-aos="fade-right">
        <div class="card-icon">
          <img
            src="/public/images/svg/domain.svg"
            alt="Business building icon"
          />
        </div>
        <h3>Backend Development</h3>
        <p class="subtitle2">
          Are you in need of robust software to drive the success of your
          business? As an experienced software developer, I use powerful tools
          like TypeScript, C#, and Go to create reliable solutions that meet
          your needs. Let's discuss your project in more detail.
        </p>
      </div>
      <div class="card" data-aos="fade-up">
        <div class="card-icon">
          <img src="/public/images/svg/store-front.svg" alt="Storefront icon" />
        </div>
        <h3>Frontend Development</h3>
        <p class="subtitle2">
          Are you in need of a sleek, fast, and user-friendly user interface? As
          a software developer with expertise in tools like React and Angular, I
          can help you create a modern interface that meets your needs and
          exceeds your expectations. Contact me to learn more.
        </p>
      </div>
      <div class="card" data-aos="fade-left">
        <div class="card-icon">
          <img src="/public/images/svg/cloud.svg" alt="Cloud icon" />
        </div>
        <h3>Cloud Solutions</h3>
        <p class="subtitle2">
          Looking to leverage the power of Google or Amazon to scale your
          software infrastructure? I am here to help. With a strong background
          in software development and a diverse range of tools and technologies
          at my disposal, I can assist you in achieving your goals. Contact me
          to learn more.
        </p>
      </div>
    </div>
  </div>
</section>
