<style>
  #technology .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    padding: 100px 0;
  }

  #technology .grid-item {
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (max-width: 1000px) {
    #technology .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 680px) {
    #technology .grid {
      grid-template-columns: 1fr;
    }

    #technology .grid-item {
      height: 200px;
    }
  }
</style>

<div id="technology" tabindex="2">
  <div class="container">
    <div class="grid">
      <div
        style="
          background-size: 60%;
          background-image: url(/public/images/go.png);
        "
        class="grid-item"
        data-aos="zoom-in"
        title="Go Programming Language"
      ></div>
      <div
        style="
          background-size: 55%;
          background-image: url(/public/images/node.png);
        "
        class="grid-item"
        data-aos="zoom-in"
        title="Node.js"
      ></div>
      <div
        class="grid-item"
        style="
          background-size: 40%;
          background-image: url(/public/images/react.png);
        "
        data-aos="zoom-in"
        title="React.js"
      ></div>
      <div
        style="
          background-size: 30%;
          background-image: url(/public/images/angular.png);
        "
        class="grid-item"
        data-aos="zoom-in"
        title="Angular"
      ></div>
      <div
        style="
          background-size: 70%;
          background-image: url(/public/images/typescript.png);
        "
        class="grid-item"
        data-aos="zoom-in"
        title="TypeScript"
      ></div>
      <div
        style="
          background-size: 40%;
          background-image: url(/public/images/aws.png);
        "
        class="grid-item"
        data-aos="zoom-in"
        title="Amazon Web Services"
      ></div>
    </div>
  </div>
</div>
