@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap';

.container {
  width: 75%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}

a {
  color: #154eb8;
  text-decoration: none;
}

p {
  line-height: 1.4;
}

h1 {
  font-weight: 900;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  color: #3f3f3f;
  font-size: 4.4rem;
}

h2 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  font-weight: 900;
  letter-spacing: 1px;
  color: #3f3f3f;
}

h3 {
  text-transform: capitalize;
  letter-spacing: 1.5px;
  font-size: 2rem;
  margin: 1.5rem 0 0.8rem 0;
  font-weight: 700;
  color: #fff;
}

.subtitle1 {
  margin: 1.8rem 0;
  font-size: 1.3rem;
  font-weight: 500;
  max-width: 50ch;
  color: #3f3f3f;
}

.subtitle2 {
  font-size: 1.1rem;
  font-weight: 400;
  color: #fff;
}

.body1 {
  line-height: 1.7;
  font-size: 1.1rem;
  letter-spacing: 1.1px;
}

.body1:not(:last-of-type) {
  margin-bottom: 1rem;
}

@media (max-width: 950px) {
  h1 {
    font-size: 3.6rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 3.2rem;
  }
}

@media (max-width: 760px) {
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 680px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 420px) {
  h1 {
    font-size: 1.85rem;
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 1.65rem;
  }
}

@media (max-width: 325px) {
  h1 {
    font-size: 1.45rem;
  }
}

@media (max-width: 900px) {
  h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 2rem;
  }
}

@media (max-width: 320px) {
  h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 450px) {
  h3 {
    font-size: 1.7rem;
  }
}

@media (max-width: 350px) {
  h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 315px) {
  h3 {
    font-size: 1.35rem;
  }
}

@media (max-width: 360px) {
  .subtitle1 {
    font-size: 1rem;
  }
}

.nav-animation {
  background-color: rgba(51, 51, 51, 0.97);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  inset: 0;
  position: fixed;
  transform: scale(0);
  transition: all 200ms ease;
  z-index: 4;
}

.nav-animation.open {
  transform: scale(1);
}

nav {
  align-items: center;
  display: flex;
  display: flex;
  flex-direction: column;
  gap: 30px;
  inset: 0;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: all 200ms ease;
  width: 100%;
  z-index: 10;
  z-index: 5;
  overflow-x: hidden;
}

nav.open {
  opacity: 1;
  pointer-events: all;
}

nav .social {
  margin: 0;
}

.nav-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}

.nav-content :nth-child(odd) {
  transform: translateX(-200px);
}

.nav-content :nth-child(even) {
  transform: translateX(200px);
}

.nav-content.open :nth-child(odd) {
  transform: translateX(0);
}

.nav-content.open :nth-child(even) {
  transform: translateX(0);
}

.nav-content a {
  transition-delay: 15ms;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 1.1px;
  outline-color: rgba(0, 0, 0, 0);
  padding: 5px 0;
  position: relative;
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  transition: all 200ms ease;
}

.nav-content a::before,
.nav-content a::after {
  background-color: #fff;
  content: '';
  height: 2px;
  position: absolute;
  top: 100%;
  transition: all 200ms ease;
  width: 0;
}

.nav-content a::before {
  left: 0;
}

.nav-content a::after {
  right: 0;
}

.nav-content a:hover::before,
.nav-content a:focus::before {
  width: 50%;
}

.nav-content a:hover::after,
.nav-content a:focus::after {
  width: 50%;
}

.bars {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 35px;
  justify-content: space-between;
  position: fixed;
  right: 50px;
  top: 50px;
  width: 45px;
  z-index: 6;
}

.bars .bars-line {
  height: 3px;
  cursor: pointer;
  width: 100%;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.6, -0.4, 0.735, 0.045);
  background-color: #2b2b2b;
}

.bars-line.light {
  background-color: #fff;
}

.bars :nth-of-type(1) {
  transform-origin: top left;
}

.bars :nth-of-type(3) {
  transform-origin: bottom left;
}

.bars.open .bars-line {
  background-color: #fff;
}

.bars.open :nth-of-type(2) {
  opacity: 0;
  transform: translateX(100px);
}

.bars.open :nth-of-type(1) {
  transform: rotate(45deg);
}

.bars.open :nth-of-type(3) {
  transform: rotate(-45deg);
}

#about {
  padding: 150px 0;
  display: flex;
  align-items: center;
}

#about h2,
#about p {
  color: #fff;
}

#about .container {
  display: flex;
  height: 100%;
}

#about .flex-item {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#about .flex-item img {
  width: 200px;
  height: 200px;
  max-width: 100%;
  fill: #fff;
  margin: 0 auto;
}

@media (max-width: 900px) {
  #about .flex-item img {
    margin-bottom: 2rem;
  }

  #about .container {
    flex-direction: column;
    gap: 3rem;
  }
}

#contact {
  padding: 100px 0;
  overflow: hidden;
}

#contact .container {
  display: flex;
}

.social {
  width: 100%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 1rem;
}

.social-icons a {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease !important;
  width: 64px;
  height: 64px;
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0);
}

.social-icons a img {
  height: 32px;
  width: 32px;
  display: block;
}

.social-icons a:active {
  background-color: rgba(0, 0, 0, 0);
  border-color: #fff;
}

.social-icons a:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: #fff;
}

#contact a #contact h3 {
  font-size: 3rem;
  font-weight: 900;
  color: #fff;
  text-align: center;
  max-width: 40ch;
}

.email-text {
  text-transform: lowercase;
  margin-top: 40px;
  font-size: 1rem;
  font-weight: 900;
  color: #fff;
}

.email-text:hover {
  text-decoration: underline;
}

@media (max-width: 1100px) {
  #contact .social-icons {
    justify-content: center;
    margin-top: 30px;
  }

  #contact .container {
    flex-direction: column-reverse;
  }

  #contact .social {
    margin: 0 0 50px 0 !important;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 600px) {
  #contact {
    padding: 50px 0;
  }

  #contact .container {
    gap: 25px;
  }
}

@media (max-width: 500px) {
  #contact .social-icons a {
    margin-bottom: 10px;
  }

  #contact h3 {
    font-size: 2rem;
  }
}

#home {
  padding: 200px 0;
  position: relative;
}

.hero-content {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.hero-actions {
  display: flex;
  gap: 15px;
}

.artboard {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 0;
  height: 50%;
}

.artboard .primary {
  fill: #154eb8;
}

.phone {
  position: absolute;
  z-index: 1;
  bottom: 60%;
  left: 50%;
}

.phone .primary {
  fill: #154eb8;
}

@media (max-width: 1600px) {
  .phone {
    bottom: 70%;
  }
}

@media (max-width: 981px) {
  .artboard {
    height: 40%;
    transform: translateX(-50%);
  }
}

@media (max-width: 950px) {
  #home {
    padding: 160px 0;
  }
  .artboard {
    display: none;
  }
  .phone {
    bottom: 30px;
    left: 65%;
  }
}

@media (max-width: 600px) {
  #home {
    padding: 50px 0;
  }
  .hero-content {
    padding: 30px 0 30px 0;
    margin-top: 60px;
  }
  .hero-actions {
    flex-direction: column;
    width: 100%;
  }
  .phone {
    bottom: 60%;
    left: 70%;
  }
}

@media (max-width: 540px) {
  .phone {
    bottom: 71%;
    left: 10%;
  }
}

#projects {
  padding: 100px 0;
}

#projects h2 {
  margin-bottom: 10px;
  text-transform: capitalize;
}

#projects .grid {
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#projects .grid-item {
  display: block;
  position: relative;
  border-radius: 4px;
  text-decoration: none;
  transition: all 200ms ease !important;
  border: 1px solid #f0f0f0;
}

#projects .grid-item-body {
  padding: 1.3rem;
}

#projects .grid-item .media {
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid #f0f0f0;
}

#projects .grid-item h4 {
  color: #3f3f3f;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 7px;
  letter-spacing: 1.32px;
}

#projects .grid-item p {
  color: #3f3f3f;
  font-size: 14px;
  margin-bottom: 7px;
}

#projects .grid-item small {
  color: #3f3f3f;
  opacity: 0.7;
  font-size: 12px;
}

#solutions {
  padding: 150px 0;
  display: flex;
  align-items: center;
}

#solutions .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

#solutions .card {
  display: flex;
  flex-direction: column;
  box-shadow: none;
  padding: 20px;
}

#solutions .card .card-icon {
  font-size: 1.5rem;
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 12px;
  border-radius: 50%;
  background-color: #fff;
  color: #3f3f3f;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#solutions .card .card-icon img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1400px) {
  #solutions {
    padding: 50px 0;
  }
  #solutions .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 820px) {
  #solutions .grid {
    grid-template-columns: 1fr;
  }
}

#technology .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 75px 0;
}

#technology .grid-item {
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1000px) {
  #technology .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 680px) {
  #technology .grid {
    grid-template-columns: 1fr;
  }
  #technology .grid-item {
    height: 200px;
  }
}

.bg-dark {
  background-color: #333;
}
.bg-light {
  background-color: #fff;
}

@keyframes barrel-roll {
  0% {
    transform: rotate(0deg) scale(1);
  }
  66% {
    transform: rotate(180deg) scale(0.5);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}

@keyframes barrel-roll-reverse {
  0% {
    transform: rotate(0deg) scale(1);
  }
  66% {
    transform: rotate(-180deg) scale(0.5);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  animation: barrel-roll-reverse 1s ease-in-out;
}

body.overflow-hidden {
  overflow-y: hidden;
}

body.pre-load {
  animation: none !important;
}

body.barrel-roll {
  animation: barrel-roll 1s ease-in-out;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
}

.projects-grid a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.projects-grid p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}

.projects-grid .grid-item {
  overflow: hidden;
  width: 100%;
}

.projects-grid .grid-item-body {
  overflow: hidden;
  width: 100%;
}
